---
import Social from './Social.astro';
---

<footer>
  <div class="footer-container">
    <Social platform="twitter" username="srz2" svg_name="twitter-mark" />
    <Social platform="github" username="srz2" svg_name="github-mark" />
    <Social platform="youtube" username="srz2" svg_name="youtube-mark" />
  </div>
</footer>